header{
    background: #00000078;
    z-index: 100;
}
header .logo,header .nameCinema{
    color: var( --primary-color-1);
    font-weight: 700;
}
header .menuItem:hover,header button:hover{
    color: var(--primary-color-1);
    transition: all 0.3s;
    /* border-bottom:2px solid var(--primary-color-1); */
}
header .btnSignIn{
    background-color: var(--primary-color-2);
    border-radius: 20px;
}
.headerIcon{
    color: white;
}
.btnMenuCinema {
    border-bottom:2px solid #fff !important;
}
.btnMenuCinema p,.btnMenuCinema .anticon {
    transition: all .3s;
}
.btnMenuCinema .anticon{
    color: white!important;
    display: block;
}
.btnMenuCinema .ant-space-align-center{
    align-items: baseline;
}
.btnMenuCinema:active {
    border-bottom:2px solid #e34895 !important;
    outline: none;
    box-shadow: none!important;
}
.btnMenuCinema:hover p,.btnMenuCinema:hover .anticon {
    color: #c8235d !important;
}

@media screen and (max-width: 768px) {
    .btnMenuCinema .ant-space{
        display: block;
    }
    .btnMenuCinema .anticon{
        display: none;
    }
    .btnMenuCinema{
        width: 80% !important;
        display: block !important;
        margin: auto;
        margin-top: 1rem;
    }
    .spaceBtnMenuCinema{
        display: block !important;
    }
}
