.film img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.25s;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}
.film:hover img {
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 10px;

  }
.film .contentFilm {
    background: linear-gradient(180deg, rgba(40,40,40,1) 14%, rgba(35,35,35,1) 87%);
    height: 130px;
    border-radius:0 0 10px 10px;
}
.film .btnFilm{
    position: absolute;
    bottom: 0%;
    transform: translateX(-50%);
    background: #c8235d;
    cursor: pointer;
    padding: 5px 10px ;
    border-radius: 10px;
    color: white;
}
.film .btnFilm:hover svg{
    animation: iconMove .3s linear;
}
.film img {
    border-radius: 10px 10px 0 0;
}
.showingFilm .slick-prev,.showingFilm .slick-next{
    display: none !important;
}
.showingFilm .slick-dots li.slick-active button:before {
    color: #c8235d;
}
.commingFilm .slick-dots li.slick-active button:before {
    color: #c8235d;
}
.commingFilm .slick-prev,.commingFilm .slick-next{
    display: none !important;
}
@keyframes iconMove {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(1rem);
        opacity: 0;
    }
    100% {
        transform: translateX(-1rem);
        opacity: 1;
    }
}